<?xml version="1.0" encoding="utf-8"?>
<Settings Port="3000" MaxPlayersOnlineEver="2" DataPath="..\..\..\..\..\CrimsonStainedLands\data" AreasPath="..\..\..\..\..\CrimsonStainedLands\data\areas" PlayersPath="..\..\..\..\..\CrimsonStainedLands\data\players" GuildsPath="..\..\..\..\..\CrimsonStainedLands\data\guilds" RacesPath="..\..\..\..\..\CrimsonStainedLands\data\races" />